<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment_general2 :: head(titulo='Plantas')">
</head>

<body>
    <!-- Preloader -->
    <div th:replace="fragments/fragment_general2 :: preloader"></div>

    <!-- ##### Header Area Start ##### -->
    <header th:replace="fragments/fragment_general2 :: header-area"></header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../img/bg-img/24.jpg);">
            <h2>Productos de Seleccionados</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Productos Seleccionados</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area mb-100" th:if="${contador>0}">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-7">
                    <div class="cart-table clearfix">
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th>Productos</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product, info : ${carrito}">
                                <td class="cart_product_img">
                                    <a href="#"><img th:src="@{|imagen/${product.plantas.idplantas}|}"
                                                     alt="Product"></a>
                                    <h5 th:text="${product.plantas.getNombre()}"></h5>
                                </td>
                                <td class="qty" th:text="${product.getCantidad()}">

                                </td>

                                <td class="price"><span th:text="|S/. ${product.plantas.getPrecio()}|"></span></td>
                                <td class="total_price" th:text="|S/.${product.getPreciocompra()}|"><span></span></td>
                                <td class="action"><a th:href="@{'/cliente/delete?id=' + ${product.getIddetallecompra()}}" >
                                    <i class="icon_close"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="checkout-content">
                        <h5 class="title--">Orden</h5>
                        <div class="subtotal d-flex justify-content-between align-items-center">
                            <h5>Precio Total</h5>
                            <h5  th:text="|S/. ${total}|"></h5>
                        </div>
                        <div class="card__content">
                            <h1>Subir archivo de comprobante</h1>
                            <input type="file" id="comprobanteInput" class="upload-input" accept="image/*">
                        </div>
                        <div class="checkout-btn mt-30">
                            <!-- Cambiar el enlace <a> a un botón de tipo 'button' -->
                            <button type="button" id="procesarCompraBtn" class="btn alazea-btn w-100" disabled>Procesar Compra</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout_area mb-100" th:if="${contador==0}">
        <div class="container">
            <div class="row justify-content-between">
        <h2> Su carrito está vacio</h2>
            </div>
            </div>
    </div>
    <!-- ##### Checkout Area End ##### -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Para finalizar o editar su compra</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Regístrese o Inicie sesión</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a th:href="@{'/registro'}" type="button" class="btn btn-danger">Registro</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Obtener el campo de entrada de archivos y el botón
        const inputFile = document.getElementById('comprobanteInput');
        const procesarCompraBtn = document.getElementById('procesarCompraBtn');

        // Agregar un evento de escucha para activar el botón cuando se selecciona un archivo
        inputFile.addEventListener('change', function() {
            if (inputFile.files.length > 0) {
                procesarCompraBtn.disabled = false;
            } else {
                procesarCompraBtn.disabled = true;
            }
        });

        // Agregar el evento de clic al botón para enviar el formulario con AJAX
        procesarCompraBtn.addEventListener('click', function() {
            const file = inputFile.files[0];

            // Verificar que se haya seleccionado un archivo antes de enviarlo
            if (file) {
                const formData = new FormData();
                formData.append('comprobante', file);

                fetch('/cliente/guardar_compra', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    // Manejar la respuesta del servidor si es necesario
                    // Por ejemplo, redirigir a una nueva página o mostrar un mensaje de éxito
                    window.location.href = "/cliente/index";
                }).catch(error => {
                    // Manejar errores si es necesario
                    console.error('Error al enviar el archivo:', error);
                });
            }
        });
    </script>


    <!-- ##### Footer Area Start ##### -->
    <footer th:replace="fragments/fragment_general2 :: footer"></footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <div th:replace="fragments/fragment_general2 :: jsfiles"></div>
</body>

</html>