<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment_general2 :: head(titulo='Plantas')">
</head>

<body>
<div th:replace="fragments/fragment_general2 :: preloader"></div>

<!-- ##### Header Area Start ##### -->
<header th:replace="fragments/fragment_general2 :: header-area"></header>

<!-- ##### Header Area Start ##### -->

<!-- ##### Header Area End ##### -->

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
  <!-- Top Breadcrumb Area -->
  <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(img/bg-img/24.jpg);">
    <h2>CONTACTENOS</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Perfil</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Contact Area Info Start ##### -->

<!-- Contact Area Info -->
<div class="contact-area-info section-padding-0-100">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-5">
        <div class="profile-info">
          <h3>Nombre:</h3>
          <p th:text="${session.user.nombre + ' ' + session.user.apellidos}"></p>
        </div>
        <div class="profile-info">
          <h3>Correo:</h3>
          <p th:text="${session.user.correo}"></p>
        </div>
        <div class="edit-profile">
          <a th:href="@{'/cliente/editarPerfil'}" class="btn alazea-btn">Editar perfil</a>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Contact Area Info -->

<!-- Compras realizadas -->
<div class="compras-section">
  <div class="container">
    <h3>Compras realizadas</h3>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>ID Compra</th>
          <th>Cantidad de plantas</th>
          <th>Estado</th>
          <th>Monto</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterating over the compras and detalleCompras -->
        <tr th:each="detalleCompra: ${compras}">
          <td th:text="${detalleCompra.idcompra}"></td>
          <td th:text="${detalleCompra.numplantas}"></td>
          <td th:text="${detalleCompra.estado}"></td>
          <td th:text="${'S/. ' + detalleCompra.monto}"></td>
          <td><a th:href="@{'/cliente/detallesCompra?id='+ ${detalleCompra.idcompra}}" class="btn btn-light">Ver detalles</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- ##### ACA DAME LA TABLA ##### -->

<!-- ##### Footer Area Start ##### -->
<footer th:replace="fragments/fragment_general2 :: footer"></footer>
<!-- ##### Footer Area End ##### -->

<!-- ##### All Javascript Files ##### -->
<div th:replace="fragments/fragment_general2 :: jsfiles"></div>
</body>

</html>