<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment_general2 :: head(titulo='Plantas')">
</head>

<body>
<!-- Preloader -->
<div th:replace="fragments/fragment_general2 :: preloader"></div>

<!-- ##### Header Area Start ##### -->
<header th:replace="fragments/fragment_general2 :: header-area"></header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
  <!-- Top Breadcrumb Area -->
  <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(img/bg-img/24.jpg);">
    <h2>LOGIN</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Login</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- ##### Contact Area Info Start ##### -->
<section class="blog-content-area section-padding-0-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="section-heading">
          <h2>LOGIN</h2>
          <p>Ingrese sus credenciales</p>
        </div>

        <form method="post" class="user" >

          <div class="form-group row">
            <div class="col-sm-6 mb-2 mb-sm-0">
              <label style="color: black">Correo electrónico</label>

              <input type="text" class="form-control" style="border-color:lightgray"
                     id="exampleCorreo"
                     placeholder="Correo electrónico">
              <!--
              <div style="color: red; font-size: small; text-align: left"
                   th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></div>
                   -->
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-6 mb-2 mt-2 mb-sm-0">
              <label style="color: black">Contraseña</label>
              <input type="password" class="form-control" style="border-color:lightgray" id="inputPassword1"

                     placeholder="La contraseña debe contar con al menos 8 caracteres.">
              <!--
              <div style="color: red; font-size: small; text-align: left"
                   th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div> -->

            </div>

          </div>

          <hr>

          <div class="form-group row">
            <div class="col-sm-6 mb-2 mt-2 mb-sm-0">
              <button class="btn alazea-btn w-100"
                      type="submit">
                Ingresar
              </button>
            </div>


          </div>



        </form>
      </div>
    </div>
  </div>
</section>

<!-- Button trigger modal -->






<!-- ##### Footer Area Start ##### -->
<footer th:replace="fragments/fragment_general2 :: footer"></footer>
<!-- ##### Footer Area End ##### -->

<!-- ##### All Javascript Files ##### -->
<div th:replace="fragments/fragment_general2 :: jsfiles"></div>
</body>

</html>