<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(titulo)">
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title th:text="${titulo}">Title</title>

  <!-- Favicon -->
  <link rel="icon" th:href="@{/img/core-img/favicon.ico}">

  <!-- Core Stylesheet-->
  <link rel="stylesheet" th:href="@{style.css}">

</head>
<body>

  <div class="preloader d-flex align-items-center justify-content-center" th:fragment="preloader">
    <div class="preloader-circle"></div>
    <div class="preloader-img">
      <img th:src="@{/img/core-img/leaf.png}" alt="">
    </div>
  </div>
  <header class="header-area" th:fragment="header-area">

    <!-- ***** Top Header Area ***** -->
    <div class="top-header-area">
    </div>

    <!-- ***** Navbar Area ***** -->
    <div class="alazea-main-menu">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Menu -->
          <nav class="classy-navbar justify-content-between" id="alazeaNav">


            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div> -->

              <!---->
              <div class="classynav">
                <ul>
                  <li><a th:href="@{index}">Inicio</a></li>

                  <li><a th:href="@{about}">Acerca de</a></li>

                  <li><a th:href="@{shop}">Comprar</a></li>
                  <li><a th:href="@{'publicaciones'}">Publicaciones</a></li>
                  <li><a th:href="@{contact}">Contáctenos</a></li>
                  <li>
                    <div class="cart">
                      <a th:href="@{'carrito'}">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span>Carrito
                          <span class="cart-quantity"
                                th:text="|(${contador})|"></span>

                        </span>
                      </a>
                    </div>
                  </li>
                  <li><a th:href="@{perfil}">Perfil</a></li>
                  <li><div class="login">
                    <a th:href="@{/login/signout}"><i class="fa fa-user" aria-hidden="true"></i> <span>Cerrar Sesión</span></a>
                  </div></li>


                </ul>

              </div>
            </div>
          </nav>

          <!-- Search Form-->

        </div>
      </div>
    </div>
  </header>

  <footer class="footer-area bg-img" th:fragment="footer" style="background-image: url(../img/bg-img/3.jpg);">

    <!-- Main Footer Area -->
    <div class="main-footer-area">
      <div class="container">
        <div class="row">

          <!-- Single Footer Widget -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-footer-widget">
              <div class="social-info">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>

          <!-- Single Footer Widget -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-footer-widget">
              <div class="widget-title">
                <h5>CONTACTO</h5>
              </div>

              <div class="contact-information">
                <p><span>Dirección:</span> Av. Universitaria 1801, San Miguel 15088</p>
                <p><span>Número:</span> +51 945467394</p>
                <p><span>Email:</span> dontulipan@gmail.com</p>
                <p><span>Horario de atención:</span> Lun - Vier: 8 AM a 9 PM</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Bottom Area -->
    <div class="footer-bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="border-line"></div>
          </div>
          <!-- Copywrite Text -->
          <div class="col-12 col-md-6">
            <div class="copywrite-text">
              <p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                Plantitas
                <i class="fa fa-heart-o" aria-hidden="true">
                </i>

              </p>
            </div>
          </div>
          <!-- Footer Nav
          </div> -->
        </div>
      </div>
    </div>
  </footer>

  <div th:fragment="jsfiles">
    <!-- jQuery-2.2.4 js -->
    <script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
    <!-- Popper js -->
    <script th:src="@{/js/bootstrap/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <!-- All Plugins js -->
    <script th:src="@{/js/plugins/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{/js/active.js}"></script>
  </div>
</body>
</html>